
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky; /* Stays at the top */
    top: 0;
    z-index: 100;
    background: var(--bg-color);
    padding: 0 2rem;
}

.header-content h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--title-color);
    padding-bottom: 0.3rem;
    color: var(--text-color);
}

.highlight {
    color: var(--title-color);
}