
.theme-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s ease;
}

.theme-toggle:hover {
  transform: scale(1.2);
}

@media (max-width: 780px) {
  .theme-container {
    right: 0.2rem
  }

  .theme-toggle {
    background-color: var(--bg-color);
    border-radius: 20px;
  }
}